$bg-color: #e5e5ee;
$column-height: 45px;
$upload-width: 75px;
$dl-btn-width: 85px;
$checkbox-width: 90px;
$menu-toggle-width: 44px;
$menu-toggle-height: 44px;
$img-path: "../../img/";
$icon-menu: $img-path + "menu.svg";
$icon-power: $img-path + "power.svg";
$icon-purge: $img-path + "trash.svg";
$icon-unpause: $img-path + "play.svg";
$icon-pause: $img-path + "pause.svg";
$icon-refresh: $img-path + "refresh.svg";
$icon-delete: $img-path + "delete.svg";
$icon-download: $img-path + "download.svg";
$icon-add: $img-path + "add.svg";
$icon-clipboard: $img-path + "clippy.svg";
$icon-settings: $img-path + "settings.svg";
$navigation-width: 300px;
$animation-slow: 300ms;
$border-radius: 3px;
$border-radius-large: 10px;
$border-radius-pill: 100px;
$border-radius-rounded:9999px;
$color-error: #e9322d;
$color-error-hover: #ed5b57;
$color-warning: #eca700;
$color-warning-hover: #f0b933;
$color-success: #46ba61;
$color-success-hover: #6bc881;
$color-text-maxcontrast: #767676;
$color-text-light: #222;
$color-text-lighter: #767676;
$color-loading-light: #ccc;
$color-loading-dark: #444;
$color-box-shadow: rgba(77, 77, 77, 0.5);
$color-border: #ededed;
$color-border-dark: #dbdbdb;
$color-light-grey: #b2abab;
$color-background-dark: #fafafa;
$color-main-background: #fafafa;